@charset "UTF-8";

body{
	color: white;
	font-family: Titillium Web, Arial, Helvetica, sans-serif;
	font-size: 17px;
	background-color: #0c0c0c;
	text-align: center;
	margin: 0px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
hr{
	border-color: rgba(238, 88, 88, 0.322);
	box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.068);
}
.text90{
	font-size: 90%;
}
.logo{
	max-width: 150px;
	transition: all 0.15s ease-in;
}
.logo:hover{
	filter: brightness(200%);
	transition: all 0.15s ease-in-out;
}
.togglebutton{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	padding-top: 15px;
	transition: all 0.2s ease-in;
	cursor: pointer;
}
.togglebutton .bar{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

/* HEADER */
.header{
	background:linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.075));
	backdrop-filter: blur(6px);
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.11);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 10000;
	transition: all 0.25s ease-in-out;
	font-family: Roboto Condensed;
}
#heacol{
	background-color: #111111;
}
.heaul{
	margin: 0;
}
.activeh{
	background-color: #111111;
}
.title{
	margin: 0px;
	max-width: 100%;
	margin-top: 15px;
	margin-left: 20px;
	display: flex;
}
a{
	text-decoration: none;
	color: white;
}
#searchbar{
	padding: 6px 60px 6px 6px;
	border: none;
	margin-top: 8px;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 17px;
	background-color: #252525ea;
	color: #9e9e9e;
	outline-style: solid;
	outline-color: #474747ea;
	outline-width: 2px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}
.namepdt{
	font-size: 14px;
	font-style: normal;
}
.healinks{
	text-decoration: none;
	padding: 20px 5px 20px 5px;
	border-style: solid;
	border-color: rgba(0,0,0,0);
	border-left: 0;
	border-right: 0;
	background: #00000000;
	transition: all 0.15s ease-in;
}
.healinks:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ffffff38);
	transition: all 0.15s ease-in-out;
}
.headerlinks{
	margin-right: 20px;
}
a.suppus{
	background-color: rgb(230, 45, 45);
	border-color: rgb(230, 45, 45);
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	padding: 5px;
	transition: all 0.20s ease-in;
	font-family: Roboto Condensed;
}
a.suppus:hover{
	background-color: rgba(197, 0, 0, 0);
	transition: all 0.20s ease-in-out;
}
#to-wn{
	background-color: rgb(45, 57, 230);
	border-color: rgb(45, 57, 230);
}
#to-wn:hover{
	background-color: transparent;
}
a.suppush{
	text-decoration: none;
	padding: 20px 5px 20px 5px;
	border-style: solid;
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(182, 57, 57);
	border-left: 0;
	border-right: 0;
	background: linear-gradient(#0000,#e00000a6);
	transition: all 0.15s ease-in;
}
a.suppush:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ca4444bb);
	transition: all 0.15s ease-in-out;
}
.headerlis{
	padding: 0px 2px 0px 2px;
	display: inline-flex;
}
.headerlisto{
	display: inline-flex;
}
.splashhome{
	display: inline-flex;
	border-radius: 10px;
	padding: 20px;
}
.apresentacao{
	display: inline-flex;
	background-color: #0a0a0a7c;
	border-radius: 20px;
	padding: 20px;
}
.downnabout{
	margin-top: 25px;
}
.downabout{
	text-decoration: none;
	display: inline-block;
	margin-right: 30px;
	padding-bottom: 25px;
}
#extbts{
	margin-right: 0px;
	padding-bottom: 10px;
}
.dpdhbt{
	text-decoration: none;
	padding: 20px 5px 20px 5px;
	border-style: solid;
	border-color: rgba(0,0,0,0);
	border-left: 0;
	border-right: 0;
	background: #00000000;
	transition: all 0.15s ease-in;
}
.dpdhbt:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ffffff38);
	transition: all 0.15s ease-in-out;
}
.dropdownh{
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.dpdhitems{
	display: none;
	position: absolute;
	min-width: 102px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.dropdownh:hover .dpdhitems{
	margin-top: 23px;
	display: grid;
	width: 100%;
}
.dpdhitems a{
	padding: 12px 6px;
	backdrop-filter: blur(5px);
	border-style: solid;
	border-color: rgba(0,0,0,0);
	border-left: 0;
	border-right: 0;
	background-color: #14141471;
	transition: all 0.10s ease-in;
}
.dpdhitmsacol{
	background-color: #141414cc;
}
.dpdhitmsacolhov{
	background: linear-gradient(rgba(0, 0, 0, 0.514),#ffffff83);;
}
.dpdhitems a:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(rgba(0, 0, 0, 0.514),#ffffff38);
	transition: all 0.10s ease-in-out;
}

/* SECTION */
section{
	background-color: rgba(0, 0, 0, 0.2);
}
a.downnow{
	background-color: rgb(223, 40, 40);
	border-color: rgb(223, 40, 40);
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	padding: 10px;
	transition: all 0.15s ease-in;
	white-space: nowrap;
}
a.downnow:hover{
	background-color: rgba(197, 0, 0, 0);
	transition: all 0.15s ease-in-out;
}
a.knowmore{
	background-color: #4d4d4d67;
	border-style: solid;
	border-color: rgb(117, 117, 117);
	border-width: 2px;
	border-radius: 5px;
	padding: 10px;
	transition: all 0.15s ease-in;
	white-space: nowrap;
}
a.knowmore:hover{
	background-color: #4d4d4d00;
	border-color: rgb(150, 150, 150);
}
.stobtdow{
	font-size: 15px;
	background-color: rgb(70, 70, 70);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-style: solid;
	border-color: transparent;
	transition: all 0.15s ease-in;
}
.stobtdow:hover{
	background-color: rgba(126, 126, 126, 0.13);
	outline-color: rgb(167, 167, 167);
	outline-width: 1px;
	outline-style: solid;
	transition: all 0.15s ease-in-out;
}
.backvideo{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background: url('/img/posterback.jpg') no-repeat;
    background-size: cover; 
}
.indexsec{
	display: block;
	padding-top: 280px;
	padding-bottom: 220px;
}
.downsec{
	display: block;
	padding-top: 100px;
	padding-bottom: 50px;
}
.storesec{
	background-color: rgb(62, 62, 62);
	background-image: url('/img/store/back12store.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.whatsxbge{
	font-size: 15px;
	margin: 3px;
}
.descpdt{
	font-size: 13px;
}
@keyframes example{
	from {color: rgba(0, 0, 0, 0);}
	to {color: rgb(255, 255, 255);}
}
.animbar{
	font-size: 80%;
	display: inline-flex;
	animation-name: example;
	animation-duration: 0.4s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
.titsec{
	margin: 0px;
	text-align: left;
	font-size: 40px;
}
.splashtitsec{
	margin: 0px;
	text-align: left;
	font-size: 40px;
	font-size: 500%;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 0px 0px 26px black;
}
.titsece{
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.articlechanges, h3, p{
	text-decoration: none;
	margin: 0;
}

/* ARTICLE */
article{
	background-color: rgba(0, 0, 0, 0.815);
	backdrop-filter: blur(5px);
	padding-top: 30px;
	padding-bottom: 10px;
}
#aprespags{
	background-color: #0a0a0a7c;
	padding: 20px 0 20px 0;
	width: 100%;
	justify-content: center;
	border-radius: 0;
	outline-style: outset;
	outline-color: #ae2020ce;
}
#patrrowblue .patrdwnrow .patrart .patrtop{
	background-color: #273a82b0;
}
.artigos{
	display: inline-flex;
	max-width: 600px;
	max-height: 400px;
}
.aboutxbge{
	transition: all 0.2s ease-in-out;
	border-radius: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	max-width: 400px;
	max-height: 400px;
}
.articledesc{
	cursor: default;
	transition: all 0.2s ease-in-out;
	background-color:rgba(44, 44, 44, 0.822);
	padding: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.aboutxbge:hover .articledesc{
	background-color: #442d2df8;
	transition: all 0.2s ease-in;
	padding-bottom: 15px;
}
.articledescwn{
	cursor: default;
	transition: all 0.2s ease-in-out;
	background-color:rgba(29, 29, 29, 0.822);
	padding: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#articledescwnd{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.articledescwn h3{
	font-size: 28px;
	font-family: Roboto Condensed;
	text-transform: uppercase;
}
.aboutxbge:hover .articledescwn{
	transition: all 0.2s ease-in;
}
.funcs{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	max-width: 100%;
	text-decoration: none;
	margin-bottom: -7px;
}
.funcswn{
	max-width: 100%;
	text-decoration: none;
	margin-bottom: -7px;
}
.funcssplash{
	width: 70%;
	border-radius: 20px;
	text-decoration: none;
}
.learnmorearticle{
	background-color: #171717;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
}
.rangverarticle{
	background-color: #381515fd;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 2px;
}
.lmarticle{
	display: inline-flex;
}
.lmrarticle{
	display: inline-block;
}
.praav{
	margin-top: 12px;
}
.rangver{
	max-width: 50px;
	max-height: 50px;
}
.patrdwnrow{
	display: flex;
}
.patrart{
	background-color: #0e0e0ef3;
	width: 50%;
}
.patrtext{
	text-align: left;
	color: rgb(233, 233, 233);
}
.patrtop{
	background-color: #8b2828af;
	padding: 15px;
}
.patrnames{
	padding: 5px;
	border-color: rgba(222, 184, 135, 0.644);
	border-style: none none none outset;
}
#storearti .aboutxbge:hover .articledesc{
	background-color:rgba(44, 44, 44, 0.822);
	padding-bottom: 10px;
}
/* FOOTER */
footer{
	background-color: #0c0c0c;
	margin: 0px;
	width: 100%;
}
.footerobjs{
	display: inline-flex;
}
.spanrange{
	padding-right: 500px;
	padding-top: 40px;
	font-style: italic;
	font-size: 13px;
}
.ftlinks{
	font-size: 13px;
	text-transform: uppercase;
	text-align: right;
}
.ftlink{
	color: rgb(170, 170, 170);
}
.ftlink:hover:not(#no_underline) {
	text-decoration: underline;
}

/* DOWNLOAD PAGE */
.articledownload{
	text-align: left;
	display: inline-flex;
}
.articlepatreon{
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.952);
}
.linksites{
	text-decoration: underline;
	color: orange;
}
.joindc{
	background-color: rgb(46, 155, 83);
	padding: 8px;
	padding-left: 182px;
	padding-right: 180px;
	border-radius: 5px;
	transition: all 0.15s ease-in;
}
.joindc:hover{
	background-color: rgb(80, 158, 106);
	transition: all 0.15s ease-in-out;
}
.dclink{
	display: inline-block;
}
.artigoscontrib{
	background-color: rgba(22, 22, 22, 0.753);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-top: 10px;
	padding-bottom: 50px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	max-width: 475px;
	max-height: 356px;
}
.artigoschanges{
	background-color: rgba(22, 22, 22, 0.753);
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 40px;
	margin-right: 40px;
}
.artigoschangess{
	background-color: rgba(41, 41, 41, 0.753);
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.artigosdown{
	background-color: rgba(22, 22, 22, 0.753);
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	display: inline-flex;
	justify-content: center;
}
.artcdown{
	display: flex;
	justify-content: center;
}
.funcschc{
	max-width: 475px;
	border-radius: 10px;
}
.dprelpatr{
	max-width: 400px;
	margin-left: 10px;
	border-radius: 10px;
}
.titlesbox{
	margin-left: 10px;
	margin-right: 10px;
	max-width: 479px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 20px;
	background-color: rgba(70, 25, 25, 0.836);
}

/* CHANGELOG */
.dpdchbt{
	background-color: #141414;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	padding: 12px 16px;
	cursor: pointer;
}
.dropdownch{
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.dpditems{
	display: none;
	position: absolute;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.dropdownch:hover .dpditems{
	margin-top: 12px;
	display: grid;
	width: 100%;
}
.dpditems a{
	padding: 12px 16px;
	background-color: #141414;
	transition: all 0.10s ease-in;
}
.dpditems a:hover{
	padding: 12px 16px;
	background-color: #292929;
	transition: all 0.10s ease-in-out;
}
.articlechanges{
	text-align: left;
	display: inline-block;
	text-decoration: none;
}
.funcsch{
	max-width: 60%;
	border-radius: 10px;
}
.changelogdiv, ul{
	list-style-type: none;
}
.changestitle{
	font-size: 25px;
	font-weight: bold;
}
.changestitle:hover{
	list-style: circle;
}
.releasename{
	text-align: center;
}

@media (max-width: 500px){
	.splashtitsec{
		font-size: 300%;
	}
	.dclink, img, a{
		max-width: 330px;
		white-space: nowrap;
	}
	.dclink a{
		padding-left: 142px;
		padding-right: 142px;
	}
	.praav{
		margin-top: 0px;
	}
	#extbts{
		margin-right: 0px;
		padding-bottom: 28px;
	}
}
@media (max-width: 600px) {
	.splashhome{
		display: block;
	}
	.articlepatreon{
		display: block;
	}
	.patrdwnrow{
		display: block;
	}
	.patrart{
		width: 100%;
	}
}
@media (max-width: 850px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
	.artcdown{
		display: inline-block;
	}
    .togglebutton {
        display: flex;
		cursor: pointer;
    }
    .headerlinks {
        display: none;
        width: 100%;
    }
    .headerlinks .heaul {
        width: 100%;
        flex-direction: column;
    }
    .headerlinks .heaul .headerlis {
        text-align: center;
    }
    .headerlinks .heaul .headerlis .healinks .suppus{
        padding: .5rem 1rem;
    }
    .headerlinks.active {
        display: flex;
    }
	.togglebutton.active{
		transition: all 0.2s ease-in-out;
		padding-top: 30px;
		transform: rotate(90deg);
	}
	.apresentacao{
		display: inline-block;
	}
	.articledownload{
		display: inline-block;
	}
	.artigoschanges{
		margin: 0;
	}
	.spanrange{
		padding-right: 50px;
	}
	.artigosdown{
		display: inline-block;
	}
	.funcschc{
		max-width: 80%;
		border-radius: 10px;
	}
	.dprelpatr{
		max-width: 80%;
	}
	.downinfo{
		display: grid;
	}
	.indexsec{
		padding-top: 180px;
		padding-bottom: 40px;
	}
}