@charset "UTF-8";

body{
	color: white;
	font-family: Titillium Web, Arial, Helvetica, sans-serif;
	font-size: 17px;
	background-color: #0c0c0c;
	text-align: center;
	margin: 0px;
    height: 100vh;
    padding: 0;
    margin: 0;
	scroll-behavior: smooth;
}
/* LOADING */
#loading{
	background-color: rgba(0, 0, 0, 0.726);
	backdrop-filter: blur(5px);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100000;
}
@keyframes anim_loading{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(330deg);}
}
#loading div{
	animation-name: anim_loading;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	user-select: none;
	-webkit-user-select: none;
	padding: 35%;
	background-image: url('/img/loadingicon.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 10%;
	filter: invert(1);
}
/**/
hr{
	/*border-color: rgba(238, 88, 88, 0.322);*/
	border-color: rgb(224, 224, 224);
  	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.247);
  	margin: 5px;
}
.alink{
	text-decoration: underline;
	color: #ff2727;
	text-decoration-color: #ff27279a;
}
.material-symbols-outlined {
  font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48;
  	top: 6px;
	position: relative;
	line-height: 0;
}
/*SCROLL BAR (ONLY CHROME, EDGE, OPERA, SAFARI)*/
::-webkit-scrollbar{
	width: 6px;
}
::-webkit-scrollbar-track{
	background: transparent;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
	background: #666666;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: #838383;
	width: 10px;
}
/**/
.text90{
	font-size: 90%;
}
.logo{
	max-width: 150px;
	transition: all 0.1s ease-in;
}
.logo:hover{
	filter: brightness(200%);
	transition: all 0.1s ease-in-out;
}
.togglebutton{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	padding-top: 15px;
	transition: all 0.2s ease-in;
	cursor: pointer;
}
.togglebutton .bar{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

/* HEADER */
.header{
	background:linear-gradient(rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.075));
	backdrop-filter: blur(6px);
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.11);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 10000;
	transition: all 0.25s ease-in-out;
	font-family: Roboto Condensed;
}
.heaul{
	margin: 0;
	display: flex;
	align-items: center;
}
.activeh{
	background-color: #111111;
}
.title{
	margin: 0px;
	max-width: 100%;
	margin-top: 10px;
	margin-left: 20px;
	display: flex;
}
a{
	text-decoration: none;
	color: white;
}
.newcirclespan{
	height: 7px;
	width: 7px;
	background-color: #d40000;
	border-radius: 50%;
	display: inline-block;
	top: 20px;
	position: fixed;
}
.healinks{
	text-decoration: none;
	padding: 0px 5px 20px 5px;
}
.headerlinks{
	margin-right: 20px;
}
a.suppus{
	background-color: rgb(230, 45, 45);
	border-color: rgb(230, 45, 45);
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	padding: 5px;
	transition: all 0.20s ease-in;
	font-family: Roboto Condensed;
}
a.suppus:hover{
	background-color: rgba(197, 0, 0, 0);
	transition: all 0.20s ease-in-out;
}
a.suppush{
	text-decoration: none;
	padding: 20px 5px 20px 5px;
}
.headerlis{
	padding: 20px 2px 20px 2px;
	border-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-color: rgba(0,0,0,0);
	border-left: 0;
	border-right: 0;
	background: #00000000;
	transition: all 0.15s ease-in;
}
.headerlis:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ffffff38);
	transition: all 0.15s ease-in-out;
}
.headerlis i, .headerlissupp i, .dpdhbt i{
	cursor: default;
}
.headerlissupp{
	padding: 0px 2px 0px 2px;
	display: inline-flex;
	align-items: baseline;
	border-style: solid;
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(182, 57, 57);
	border-left: 0;
	border-right: 0;
	background: linear-gradient(#0000,#e00000a6);
	transition: all 0.15s ease-in;
}
.headerlissupp:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ca4444bb);
	transition: all 0.15s ease-in-out;
}
.headerlisto{
	display: inline-flex;
}
.splashhome{
	display: inline-block;
	border-radius: 10px;
	padding: 20px;
	border-radius: 20px;
}
.apresentacao{
	display: inline-flex;
	background-color: #0a0a0a7c;
	border-radius: 20px;
	padding: 20px;
}
.downnabout{
	margin-top: 25px;
}
.downabout{
	text-decoration: none;
	display: inline-block;
	margin-right: 30px;
	padding-bottom: 25px;
}
#extbts{
	margin-right: 0px;
	padding-bottom: 10px;
}
.dpdhbt{
	text-decoration: none;
	padding: 20px 5px 20px 5px;
	border-style: solid;
	border-color: rgba(0,0,0,0);
	border-left: 0;
	border-right: 0;
	background: #00000000;
	transition: all 0.15s ease-in;
}
.dpdhbt:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ffffff38);
	transition: all 0.15s ease-in-out;
}
#dpdhbtsupp{
	border-top: 0;
	border-bottom-color: rgb(182, 57, 57);
	background: linear-gradient(#0000,#e00000a6);
}
#dpdhbtsupp:hover{
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(#0000,#ca4444bb);
}
.dropdownh{
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.dpdhitems{
	display: none;
	position: absolute;
	min-width: 102px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.dropdownh:hover .dpdhitems{
	margin-top: 23px;
	display: grid;
	width: 100%;
}
.dpdhitems a{
	padding: 12px 6px;
	backdrop-filter: blur(5px);
	border-style: solid;
	border-color: rgba(0,0,0,0);
	border-left: 0;
	border-right: 0;
	background-color: #14141471;
	transition: all 0.10s ease-in;
	display: flex;
	justify-content: center;
}
.dpdhitmsacol{
	background-color: #141414cc;
}
.dpdhitmsacolhov{
	background: linear-gradient(rgba(0, 0, 0, 0.514),#ffffff83);;
}
.dpdhitems a:hover{
	border-block-start: transparent;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgb(255, 255, 255);
	background: linear-gradient(rgba(0, 0, 0, 0.514),#ffffff38);
	transition: all 0.10s ease-in-out;
}

/* SECTION */
section{
	background-color: rgba(0, 0, 0, 0.2);
}
a.downnow{
	background-color: rgba(160, 29, 29, 0.5);
	backdrop-filter: blur(4px);
	border-color: rgba(160, 29, 29, 0.5);
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	padding: 10px 20px 10px 20px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.192);
	transition: all 0.15s ease-in;
	white-space: nowrap;
}
a.downnow:hover{
	background-color: rgba(197, 0, 0, 0);
	transition: all 0.15s ease-in-out;
}
a.knowmore{
	background-color: #4d4d4d2c;
	backdrop-filter: blur(4px);
	border-style: solid;
	border-color: rgb(83, 83, 83);
	border-width: 1px;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.192);
	transition: all 0.15s ease-in;
	white-space: nowrap;
}
a.knowmore:hover{
	background-color: #4d4d4d00;
	border-color: rgb(150, 150, 150);
}
#to-wn{
	background-color: rgba(49, 57, 169, 0.5);
	border-color: rgba(49, 57, 169, 0.5);
}
#to-wn:hover{
	background-color: transparent;
}
.smalllink{
	color: rgba(255, 255, 255, 0.616);
	font-size: 10px;
}
.backvideo{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background: url('/img/posterback.jpg') no-repeat;
    background-size: cover;
}
.indexsec{
	display: block;
	padding-top: 280px;
	padding-bottom: 220px;
}
.downsec{
	display: block;
	padding-top: 100px;
	padding-bottom: 50px;
}
.whatsxbge{
	font-size: 15px;
	margin: 3px;
}
@keyframes example{
	from {color: rgba(0, 0, 0, 0);}
	to {color: rgb(255, 255, 255);}
}
.animbar{
	font-size: 80%;
	display: inline-flex;
	animation-name: example;
	animation-duration: 0.4s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
.titsec{
	margin: 0px;
	text-align: left;
	font-size: 40px;
}
.splashtitsec{
	margin: 0px;
	font-size: 40px;
	font-size: 600%;
	letter-spacing: -7px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 0px 0px 40px #00000063;
	cursor: default;
	align-items: center;
	display: flex;
}
.titdesc{
	text-transform: uppercase;
	letter-spacing: 15px;
	font-size: 20px;
	margin: 3px;
	cursor: default;
}
.titsece{
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.articlechanges, h3, p{
	text-decoration: none;
	margin: 0;
}

/* HOMEPAGE SPLASH */
.home-splashrange{
	background-color: #3a1e1e;
	font-family: Roboto Condensed, sans-serif;
	padding: 10px 0 10px 0;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}
.home-splashrange h2{
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
}
@keyframes animarrowdown{
	0% {top: 25px;}
	50% {top: 35px;}
	100% {top: 25px;}
}
.anim-arrow i{
	animation-name: animarrowdown;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	user-select: none;
	-webkit-user-select: none;
}
.spl-link-button{
	display: inline-flex;
	transition: all 0.15s ease-in;
	outline-color: #313131;
	margin: 5px;
}
.spl-link-button:hover{
	box-shadow: 0px 0px 15px 5px #9b2d2d82;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #963535;
	transition: all 0.15s ease-in-out;
}
.spl-link-button a{
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	padding: 15px;
	background-color: rgba(188, 36, 36, 0.21);
	letter-spacing: -1px;
	backdrop-filter: blur(5px);
}
.spl-link-ico{
	background-color: rgb(170, 52, 52);
	padding: 15px;
	cursor: default;
}
#spl-link-button-small{
	padding: 10px;
}
#link-button-blue:hover{
	box-shadow: 0px 0px 15px 5px #302d9b82;
	outline-color: #274071;
}
#link-button-grey:hover{
	box-shadow: 0px 0px 15px 5px #82828282;
	outline-color: #696969;
}

/* HOMEPAGE ARTICLE */
.home-article{
	padding: 0;
	margin: 0;
	width: 100%;
}
.art-articles{
	padding: 10px;
	height: 25%;
}
.articles-cont{
	width: 100%;
	justify-content: center;
	display: inline-flex;
	background-color: #181818/*#0c0c0cb9*/;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	transition: all 0.15s ease-in;
}
/*.articles-cont:hover{
	padding: 12px 0 12px 0;
	box-shadow: 0px 0px 0px 4px rgba(228, 0, 0, 0.5);
	transition: all 0.15s ease-in-out;
}*/
.h-article-description{
	margin-left: 20px;
	margin-top: 20px;
}
.h-article-description h3{
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	font-size: 45px;
	letter-spacing: -2px;
	text-transform: uppercase;
	text-align: left;
}
.h-article-description p{
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	margin-top: 10px;
	letter-spacing: -1px;
}
/* RESPONSIVE */
@media (max-width: 500px){
	.articles-cont{
		display: block;
	}
}

/* LATEST NEWS */
.ltsnw-article{
	display: block;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	background-color: #181818;
	padding: 4px 0px 24px 0px;
}
.ltsnw-title{
	font-size: 40px;
	margin: 15px 0px 15px 17%;
	justify-content: flex-start;
	display: flex;
	letter-spacing: -2px;
}
.ltsnw-items{
	display: inline-flex;
}
.ltsnw-highlight{
	display: inline-flex;
	width: 50%;
	justify-content: flex-end;
}
.ltsnw-highlight-item{
	margin: 0px 50px 0px 50px;
	padding: 5px;
	width: 60%;
	display: inline-block;
	outline-color: #373737;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}
.ltsnw-highlight-item:hover{
	outline-style: solid;
	outline-width: 2px;
	transition: all 0.1s ease-in-out;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}
.ltsnw-highlight img{
	width: 100%;
	border-radius: 5px;
	margin: 0px 0px 5px 0px;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}
.ltsnw-highlight-desc{
	text-align: left;
	margin: 0px 5px 5px 2px;
}
.ltsnw-highlight-desc h3{
	font-size: 28px;
	text-transform: uppercase;
	white-space: initial;
}
.ltsnw-highlight-desc p{
	letter-spacing: -1px;
	white-space: initial;
}
.ltsnw-news{
	display: inline-flex;
	width: 40%;
	justify-content: flex-start;
}
.ltsnw-hl-item{
	display: inline-flex;
	margin: 5px 0;
	outline-color: #373737;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}
.ltsnw-hl-item:hover{
	outline-style: solid;
	outline-width: 2px;
	transition: all 0.1s ease-in-out;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}
.ltsnw-hl-item img{
	width: 25%;
	height: 25%;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}
.ltsnw-hl-item-desc{
	text-align: left;
	margin: 0 0 0 10px;
}
.ltsnw-hl-item-desc h3{
	font-size: 28px;
	text-transform: uppercase;
	white-space: initial;
}
.ltsnw-hl-item-desc p{
	letter-spacing: -1px;
	white-space: initial;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif!important;
}
.ltsnw-newsdate{
	cursor: default;
	color: rgba(255, 255, 255, 0.219);
	font-size: 12px;
	margin-top: 4px;
}

/* ARTICLE */
article{
	background-color: rgb(15, 15, 15);
	padding-top: 30px;
	padding-bottom: 10px;
}
#aprespags{
	background-color: #0a0a0a7c;
	padding: 20px 0 20px 0;
	width: 100%;
	justify-content: center;
	border-radius: 0;
	outline-style: outset;
	outline-color: #ae2020ce;
}
.patrdwnrow{
	display: flex;
}
.patrart{
	background-color: #0e0e0ef3;
	width: 50%;
}
.patrtext{
	text-align: left;
	color: rgb(233, 233, 233);
}
.patrtop{
	background-color: #8b2828af;
	padding: 15px;
}
.patrnames{
	padding: 5px;
	border-color: rgba(222, 184, 135, 0.644);
	border-style: none none none outset;
}
#patrrowblue .patrdwnrow .patrart .patrtop{
	background-color: #273a82b0;
}
.artigos{
	display: inline-flex;
	max-width: 600px;
	max-height: 400px;
}
.aboutxbge{
	transition: all 0.2s ease-in-out;
	border-radius: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	max-width: 400px;
	max-height: 400px;
}
.aboutxbge:hover .articledesc{
	background-color: #442d2df8;
	transition: all 0.2s ease-in;
	padding-bottom: 15px;
}
#newsarticle:hover{
	border-width: 3px;
	border-color: rgb(189, 0, 0);
	border-style: solid;

}
.articledescwn{
	cursor: default;
	transition: all 0.2s ease-in-out;
	background-color:rgba(29, 29, 29, 0.822);
	padding: 10px;
	border-radius: 0 0 5px 5px;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}
#articledescwnd{
	border-radius: 5px 5px 0 0;
}
.articledescwn h3{
	font-size: 28px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.articledescwn p{
	font-size: 18px;
	letter-spacing: -1px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}
.aboutxbge:hover .articledescwn{
	transition: all 0.2s ease-in;
}
.funcswn{
	max-width: 100%;
	text-decoration: none;
	margin-bottom: -7px;
}
.funcssplash{
	width: 70%;
	border-radius: 20px;
	text-decoration: none;
}
.learnmorearticle{
	background-color: #171717;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
}
.rangverarticle{
	background-color: #381515fd;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 2px;
}
.lmarticle{
	display: inline-flex;
}
.lmrarticle{
	display: inline-block;
}
.praav{
	margin-top: 12px;
}
.rangver{
	max-width: 50px;
	max-height: 50px;
}
.sponsors-home a img{
	border-radius: 3px;
	transition: all 0.05s ease-in-out;
	max-width: 15%;
	margin: 10px 0;
}
.sponsors-home a img:hover{
	transition: all 0.05s ease-in-out;
	background-color: #ffffff0a;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.1);
}
/* FOOTER */
footer{
	background-color: #0c0c0c;
	margin: 0px;
	width: 100%;
	padding: 18px 0px;
}
.footerobjs{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.spanrange{
	font-style: italic;
	font-size: 13px;
}
.footer-links{
	display: inline-flex;
	align-items: center;
}
.footer-links a{
	padding: 5px;
	margin: 5px;
	display: flex;
}
.footer-links-icon{
	height: 25px;
	width: 25px;
	filter: invert() contrast(70%);
}
.footer-links a:hover .footer-links-icon{
	filter: invert();
}
.ftlinks{
	font-size: 13px;
	text-transform: uppercase;
	text-align: right;
}
.ftlink{
	color: rgb(170, 170, 170);
}
.ftlink:hover:not(#no_underline) {
	text-decoration: underline;
}

/* DOWNLOAD PAGE */

/*DOWNLOAD BUTTONS*/
.down-dropdown{
	display: none;
	position: absolute;
}
.down-dropdown li{
	margin: 50px 4px 20px 4px;
}
#down-dpd-bt:hover .down-dropdown{
	display: inline-block;
}
.down-dropdown li a{
	background-color: #5c111177;
}
.down-dropdown li a:hover{
	background: linear-gradient(#5c111177,rgba(188, 36, 36, 0.747));
	box-shadow: 0px 0px 15px 5px #9b2d2d82;
}
/**/

.articledownload{
	text-align: left;
	display: inline-flex;
}
.articlepatreon{
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.952);
}
.linksites{
	text-decoration: underline;
	color: orange;
}
.joindc{
	background-color: rgb(46, 155, 83);
	padding: 8px;
	padding-left: 182px;
	padding-right: 180px;
	border-radius: 5px;
	transition: all 0.15s ease-in;
}
.joindc:hover{
	background-color: rgb(80, 158, 106);
	transition: all 0.15s ease-in-out;
}
.dclink{
	display: inline-block;
}
.artigoscontrib{
	background-color: rgb(22, 22, 22);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	max-width: 475px;
	max-height: 356px;
}
.artigoschanges{
	background-color: rgba(22, 22, 22, 0.753);
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 40px;
	margin-right: 40px;
}
.artigoschangess{
	background-color: rgba(41, 41, 41, 0.753);
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.artigosdown{
	background-color: rgba(22, 22, 22, 0.753);
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	display: inline-flex;
	justify-content: center;
}
.requirements-div{
	display: flex;
}
#artc-cont-req{
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
	padding-bottom: 35px;
}
.artcdown{
	display: flex;
	justify-content: center;
}
.funcschc{
	max-width: 475px;
	border-radius: 10px;
}
.dprelpatr{
	max-width: 400px;
	margin-left: 10px;
	border-radius: 10px;
}
.titlesbox{
	margin-left: 10px;
	margin-right: 10px;
	max-width: 479px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px;
	background-color: rgb(70, 25, 25);
}
/* SUPPORTERS MURAL */
.supp-mural{
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	display: inline-flex;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	text-shadow: 00px 00px 10px #0009;
}
.supp-mural-tit{
	font-size: 40px;
	letter-spacing: 18px;
	padding: 0px 0px 20px 0px;
	text-transform: uppercase;
	text-shadow: 00px 00px 15px #000000b8;
}
.patr-mural-div{
	padding: 5px;
	margin: 0px 40px;
	justify-content: center;
}
.patr-mural-artc-title{
	padding: 15px 20px 15px 20px;
	background-color: rgb(238, 231, 200);
	box-shadow: 0px 0px 20px 5px #0000007a;
}
.patr-mural-artc-title h4{
	font-size: 22px;
	letter-spacing: -1px;
	padding: 0;
	margin: 0;
}
.patr-mural-artc{
	padding: 10px;
	background-color: rgb(211, 186, 146);
	margin: 0px 20px;
}
.patr-mural-artc p{
	font-size: 90%;
}
.patr-mural-artc-arrow{
	height: 0; 
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 40px solid rgb(211, 186, 146);
	margin: 0px 20px 0px 20px;
}
.patr-mural-dash{
	padding: 2px;
	margin: 18px;
	background-color: rgb(205, 199, 172);
}

/* CHANGELOG */
.dpdchbt{
	background-color: #141414;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	padding: 12px 16px;
	cursor: pointer;
}
.dropdownch{
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.dpditems{
	display: none;
	position: absolute;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.dropdownch:hover .dpditems{
	margin-top: 12px;
	display: grid;
	width: 100%;
}
.dpditems a{
	padding: 12px 16px;
	background-color: #141414;
	transition: all 0.10s ease-in;
}
.dpditems a:hover{
	padding: 12px 16px;
	background-color: #292929;
	transition: all 0.10s ease-in-out;
}
.articlechanges{
	text-align: left;
	display: inline-block;
	text-decoration: none;
}
.funcsch{
	max-width: 60%;
	border-radius: 10px;
}
.changelogdiv, ul{
	list-style-type: none;
}
.changestitle{
	font-size: 25px;
	font-weight: bold;
}
.changestitle:hover{
	list-style: circle;
}
.releasename{
	text-align: center;
}

/*LEARN MORE*/
.about-clps{
	display: inline-block;
	margin: 0 100px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}
.about-clps-cont{
	margin: 5px 0px;
}
.clps-bt{
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 17px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	border-radius: 5px;
	transition: all 0.2s ease-out;
}
.active_clps, .clps-bt:hover {
	background-color: #ccc;
}
.active_clps{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	transition: all 0.2s ease-out;
}
.clps-cont{
	padding: 0 15px;
	background-color: rgb(48, 48, 48);
	max-height: 0;
	overflow: hidden;
	text-align: left;
	font-size: 15px;
	transition: max-height 0.2s ease-out;
	transition: padding 0.2s ease-out;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.clps-bt:after{
	content: /*'\02795'*/'\02c5';
	font-weight: bold;
	font-size: 15px;
	color: rgb(0, 0, 0);
	float: right;
	margin-left: 5px;
}
.active_clps:after{
	content: /*"\2796"*/'\02c4';
}

/* NEWS PAGE */
#news-body{
	background-color: #0c0c0c;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}
.news-article{
	background-color: #181818;
	width: 65%;
  	display: inline-block;
	margin-top: 66px;
	padding: 4% 0 4% 0;
}
.news-article-content{
	margin: 0 15%;
}
.news-article-info{
	text-align: left;
	font-size: 18px;
}
.news-article-info p{
	font-family: Montserrat;
}
.news-article-info h1{
	font-size: 50px;
	font-size: 50px;
	margin-bottom: 20px;
	letter-spacing: -2px;
	text-align: left;
}
.news-article-info h2{
	font-size: 40px;
	letter-spacing: -2px;
	margin-bottom: 20px;
}
.news-article-info h3{
	letter-spacing: -1px;
}
.nac-banner{
	width: 100%;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
}
.nac-img{
	width: 90%;
	border-radius: 5px;
	margin: 4% 0 4% 0;
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.20);
}
.news-list{
	list-style: square;
	font-size: 20px;
}
.news-list li{
	margin: 5px 0;
}
.news-list li p{
	font-size: 15px;
}
u{
	text-decoration-color: #707070;
}

@media (max-width: 500px){
	.splashtitsec{
		font-size: 410%;
		text-align: center;
		letter-spacing: -6px;
	}
	.titdesc{
		text-align: center;
	}
	.newcirclespan{
		position: relative;
		top: -10px;
	}
	.dclink, img, a{
		max-width: 330px;
		white-space: nowrap;
	}
	.dclink a{
		padding-left: 142px;
		padding-right: 142px;
	}
	.praav{
		margin-top: 0px;
	}
	#extbts{
		margin-right: 0px;
		padding-bottom: 28px;
	}
}
@media (max-width: 600px) {
	.splashhome{
		padding: 10px 0px 10px 0px;
	}
	.articlepatreon{
		display: block;
	}
	.patrdwnrow{
		display: block;
	}
	.patrart{
		width: 100%;
	}
	.about-clps{
		margin: 0 10px;
	}
}
@media (max-width: 850px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
	.artcdown{
		display: inline-block;
	}
	.supp-mural{
		display: block;
	}
	.supp-mural-tit{
		font-size: 50px;
		letter-spacing: -5px;
	}
	.patr-mural-div{
		margin: 0px 50px;
	}
    .togglebutton {
        display: flex;
		cursor: pointer;
    }
    .headerlinks {
        display: none;
        width: 100%;
    }
    .headerlinks .heaul {
        width: 100%;
		padding: 0;
    }
    .headerlinks .heaul .headerlis {
        text-align: center;
    }
    .headerlinks .heaul .headerlis .healinks .suppus{
        padding: .5rem 1rem;
    }
    .headerlinks.active {
        display: flex;
    }
	.togglebutton.active{
		transition: all 0.2s ease-in-out;
		padding-top: 30px;
		transform: rotate(90deg);
	}
	.apresentacao{
		display: inline-block;
	}
	.articledownload{
		display: inline-block;
	}
	.artigoschanges{
		margin: 0;
	}
	.spanrange{
		padding-right: 50px;
	}
	.artigosdown{
		display: inline-block;
	}
	.funcschc{
		max-width: 80%;
		border-radius: 10px;
	}
	.dprelpatr{
		max-width: 80%;
	}
	.downinfo{
		display: grid;
	}
	.requirements-div{
		display: block;
	}
	#artc-cont-req{
		padding-bottom: 120px;
	}
	.indexsec{
		padding-top: 180px;
		padding-bottom: 40px;
	}
	.sponsors-home a img{
		max-width: 40%;
	}
	.h-article-description{
		margin-left: 20px;
		margin-top: 20px;
		margin-right: 20px;
	}
	/* LATEST NEWS */
	.ltsnw-items {
		display: block;
	  }
	.ltsnw-news{
		display: inline-flex;
		width: 100%;
		justify-content: center;
	}
	.ltsnw-highlight {
		display: block;
		width: 100%;
		margin: 10px 0;
	}
	.news-article{
		width: 90%;
	}
}