body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #ffffffcc;
}
.rst-content .toctree-wrapper > p.caption, h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  font-weight: 700;
  font-family: Roboto,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}
.wy-side-nav-search .wy-dropdown > a.icon img.logo, .wy-side-nav-search > a.icon img.logo{
  transition: all 0.20s ease-in;
}
.wy-side-nav-search .wy-dropdown > a.icon img.logo, .wy-side-nav-search > a.icon img.logo:hover{
  filter: brightness(1.5);
  transition: all 0.20s ease-in-out;
}
.rst-content img {
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px #0000009c;
}
a {
  color: #dd4040;
}
a:hover{
  color: #db6060;
}
a:visited{
  color: transparent;
}
.rst-content .section ul li, .rst-content .toctree-wrapper ul li, .rst-content section ul li, .wy-plain-list-disc li, article ul li {
  list-style: disclosure-open;
}
.rst-content .section ul li li, .rst-content .toctree-wrapper ul li li, .rst-content section ul li li, .wy-plain-list-disc li li, article ul li li {
  list-style: disclosure-closed;
}
.wy-menu-vertical ul li a:hover{
  color: white;
}
.wy-side-nav-search > a:hover {
  background: transparent;
}
.wy-nav-content-wrap {
  background: #131416;
}
.wy-body-for-nav{
  background: #131416;
}
.wy-nav-side{
  background: #1a1c1e;
}
.wy-nav-top {
  background: #2c2c2c;
  color: #fff;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption{
  color: #de2222;
}
.wy-side-nav-search {
    background: #1a1c1e;
}
.wy-side-nav-search input[type="text"] {
  border-radius: 0px;
  padding: 6px 12px;
  border-color: #ffffff59 transparent #ffffff59 transparent;
  background-color: transparent;
  box-shadow: none;
  color: white;
}
.wy-menu-vertical li.current > a, .wy-menu-vertical li.on a {
  color: #e3e3e3;
  background: #333;
}
.wy-menu-vertical li.toctree-l1.current > a {
  border-bottom: none;
  border-top: none;
  background: #4d4d4d;
}
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
  color: #dfdfdf;
}
.wy-menu-vertical li.toctree-l2.current > a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background: none;
  font-size: 15px;
}
.wy-menu-vertical li.toctree-l3, .wy-menu-vertical li.toctree-l4 {
  background-color: #4d4d4d;
}
.wy-menu-vertical li.toctree-l3:hover, .wy-menu-vertical li.toctree-l4 {
  background-color: #5b5b5b;
}
.wy-menu-vertical li.toctree-l3.current > a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
  background: transparent;
}
.wy-menu-vertical li.toctree-l3.current > a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
  background: #838383;
}
.wy-menu-vertical li.current a {
  border-right: none;
}
.wy-menu-vertical li.current {
  background: #373535;
}
.wy-menu-vertical li.current a:hover {
  background: #606060;
}
.wy-menu-vertical li.current > a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand {
  color: rgb(185, 185, 185);
}
.wy-menu-vertical li.current > a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand:hover {
  color: #b8b8b8;
}
.wy-menu-vertical a:active {
  background-color: #b92929;
}
.wy-menu-vertical a:hover {
  background-color: #363636;
}
.rst-content code, .rst-content tt, code {
  white-space: nowrap;
  max-width: 100%;
  background: #fff;
  border: 1px solid #e1e4e5;
  font-size: 80%;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Roboto,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
  color: #e74c3c;
}
.btn-neutral {
  background-color: #fff0 !important;
  color: #ee5151 !important;
}
.btn-neutral:hover {
  background-color: #fff0 !important;
}
.btn-neutral:visited {
  background-color: #fff0 !important;
  color: #ee5151 !important;
}
.btn-neutral:active {
  border: none;
}
.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  padding: 10px 12px 10px;
  color: #fff;
  border: 1px solid #ee5151;
  background-color: #27ae60;
  font-family: Roboto,Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  box-shadow: none;
  border-width: 2px;
  transition: all 0.15s ease-in;
}
.btn:hover{
  transition: all 0.15s ease-in-out;
  color: #e46b6b;
  border: 2px solid #e46b6b;
}
.btn:active{
  padding: 10px 12px 10px;
}

/*caixa do exemplo da api*/
.highlight {
  background: #202020;
}
.highlight .bp {
  color: #2fbccd;
}
.highlight .kn {
  color: #6ebf26;
}
.highlight .nn {
  color: #71adff;
}
.highlight .k {
  color: #6ebf26;
}
.highlight .nb {
  color: #2fbccd;
}
.highlight .nf {
  color: #71adff;
}
.highlight .ow {
  color: #6ebf26;
}
.highlight .vm {
  color: #40ffff;
}
.highlight .s1 {
  color: #ed9d13;
}
.highlight .s2 {
  color: #ed9d13;
}
.highlight .c1 {
  color: #ababab;
  font-style: italic;
}
.highlight .si {
  color: #ed9d13;
}
.highlight .sd {
  color: #ed9d13;
}
.highlight .mf {
  color: #51b2fd;
}
.highlight .mi {
  color: #51b2fd;
}
.highlight .kc {
  color: #6ebf26;
}
.rst-content div[class^="highlight"], .rst-content pre.literal-block {
  border: none;
  border-radius: 10px;
}
html.writer-html4 .rst-content dl:not(.docutils) .descclassname, html.writer-html4 .rst-content dl:not(.docutils) .descname, html.writer-html4 .rst-content dl:not(.docutils) .sig-name, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .descclassname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .sig-name {
  font-family: Roboto, monospace;
  color: #ee5151;
}
.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
  font-family: Roboto, SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
  font-size: 14px;
  line-height: 1.4;
}
/*descrição da função*/
html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
  display: table;
  margin: 6px 0;
    margin-top: 6px;
  font-size: 90%;
  line-height: normal;
  background: #202224;
  color: #e8e8e8;
  border-top: none;
  padding: 9px 120px 9px 10px;
  position: relative;
  font-size: 15px;
  border-radius: 10px;
}
html.writer-html4 .rst-content dl:not(.docutils) > dt .headerlink, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt .headerlink {
  color: #ececec;
}
html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
  /*background: #202224;*/
  color: #e8e8e8;
  border-top: none;
  padding: 9px 120px 9px 10px;
  font-size: 17px;
  border-radius: 3px;
}
html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
  margin-bottom: 6px;
  border: none;
  border-left: 3px solid rgb(219, 41, 41);
  background: #1a1a1a;
  color: #555;
}
html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt .headerlink, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt .headerlink {
  color: rgb(218, 218, 218);
}
.rst-content code.literal, .rst-content tt.literal {
  white-space: normal;
  background: transparent;
  border-radius: 15px;
  border-color: #646464;
  font-weight: bold;
}


/*warning*/
.fa-exclamation-circle::before, .rst-content .admonition-title::before, .wy-inline-validate.wy-inline-validate-info .wy-input-context::before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context::before {
  color: #ff9100;
}
.rst-content .admonition-todo .admonition-title, .rst-content .admonition-todo .wy-alert-title, .rst-content .attention .admonition-title, .rst-content .attention .wy-alert-title, .rst-content .caution .admonition-title, .rst-content .caution .wy-alert-title, .rst-content .warning .admonition-title, .rst-content .warning .wy-alert-title, .rst-content .wy-alert-warning.admonition .admonition-title, .rst-content .wy-alert-warning.admonition .wy-alert-title, .rst-content .wy-alert-warning.danger .admonition-title, .rst-content .wy-alert-warning.danger .wy-alert-title, .rst-content .wy-alert-warning.error .admonition-title, .rst-content .wy-alert-warning.error .wy-alert-title, .rst-content .wy-alert-warning.hint .admonition-title, .rst-content .wy-alert-warning.hint .wy-alert-title, .rst-content .wy-alert-warning.important .admonition-title, .rst-content .wy-alert-warning.important .wy-alert-title, .rst-content .wy-alert-warning.note .admonition-title, .rst-content .wy-alert-warning.note .wy-alert-title, .rst-content .wy-alert-warning.seealso .admonition-title, .rst-content .wy-alert-warning.seealso .wy-alert-title, .rst-content .wy-alert-warning.tip .admonition-title, .rst-content .wy-alert-warning.tip .wy-alert-title, .rst-content .wy-alert.wy-alert-warning .admonition-title, .wy-alert.wy-alert-warning .rst-content .admonition-title, .wy-alert.wy-alert-warning .wy-alert-title {
  background: rgba(255,145,0,.1);
}
.rst-content .admonition-todo, .rst-content .attention, .rst-content .caution, .rst-content .warning, .rst-content .wy-alert-warning.admonition, .rst-content .wy-alert-warning.danger, .rst-content .wy-alert-warning.error, .rst-content .wy-alert-warning.hint, .rst-content .wy-alert-warning.important, .rst-content .wy-alert-warning.note, .rst-content .wy-alert-warning.seealso, .rst-content .wy-alert-warning.tip, .wy-alert.wy-alert-warning {
  border-left-style: outset;
  border-color: #ff9100;
  border-radius: 3px;
  background: #18181a;
}
.rst-content code.xref, .rst-content tt.xref, a .rst-content code, a .rst-content tt {
  background-color: transparent;
  color: #33a4e8;
  border-color: #6a6a6a;
  border-radius: 10px;
  text-decoration: underline;
}
/*note*/
.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
  background: rgba(0,176,255,.1);
}
.rst-content .note, .rst-content .seealso, .rst-content .wy-alert-info.admonition, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .wy-alert.wy-alert-info {
  border-left-style: outset;
  border-color: #00b0ff;
  border-radius: 3px;
  background: #18181a;
}
.fa-exclamation-circle::before, .rst-content .admonition-title::before, .wy-inline-validate.wy-inline-validate-info .wy-input-context::before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context::before {
  color: #00b0ff;
}
/*tip*/
.rst-content .hint .admonition-title, .rst-content .hint .wy-alert-title, .rst-content .important .admonition-title, .rst-content .important .wy-alert-title, .rst-content .tip .admonition-title, .rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .admonition-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title, .rst-content .wy-alert-success.admonition .admonition-title, .rst-content .wy-alert-success.admonition .wy-alert-title, .rst-content .wy-alert-success.attention .admonition-title, .rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.caution .wy-alert-title, .rst-content .wy-alert-success.danger .admonition-title, .rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .admonition-title, .rst-content .wy-alert-success.error .wy-alert-title, .rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.note .wy-alert-title, .rst-content .wy-alert-success.seealso .admonition-title, .rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-success .admonition-title, .wy-alert.wy-alert-success .rst-content .admonition-title, .wy-alert.wy-alert-success .wy-alert-title {
  background: rgba(0,200,82,.1);
}
.rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.admonition, .rst-content .wy-alert-success.admonition-todo, .rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution, .rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error, .rst-content .wy-alert-success.note, .rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.warning, .wy-alert.wy-alert-success {
  background: #18181a;
  border-radius: 3px;
  border-left: solid;
  border-color: #00c852;
}
.fa-exclamation-circle::before, .rst-content .admonition-title::before, .wy-inline-validate.wy-inline-validate-info .wy-input-context::before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context::before {
  color: #00c852;
}
/*Button*/
.rst-content :not(dl.option-list) > :not(dt):not(kbd):not(.kbd) > .kbd, .rst-content :not(dl.option-list) > :not(dt):not(kbd):not(.kbd) > kbd {
  color: inherit;
  font-size: 80%;
  background-color: #242424;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  box-shadow: none;
  padding: 2.4px 6px;
  margin: auto 0;
}

@media screen and (min-width: 1100px){
  .wy-nav-content {
    background: #131416;
  }
  .wy-side-nav-search {
    background: #1a1c1e;
  }
}